/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Caesar+Dressing&display=swap');

/* CSS Variables */

:root {
    --primary-font: 'Almendra', serif;
    --secondary-font: 'Caesar Dressing', sans-serif;
    --primary-color: #FAE7D6;
    --secondary-color: #2D1906;
    --card-color: #D6741A;
    --button-color: #2B73B6;
}

/* Global styles */

body {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
}

.btn {
    background-color: var(--button-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.card {
    background-color: var(--card-color);
    border: 2px solid var(--secondary-color);
}

/* Body */

.card {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

h1 {
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.8rem;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card li {
    font-size: 1.6rem;
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-top: 1px solid var(--secondary-color);
}

.card li span {
    font-weight: bold;
}