/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CSS Variables */

:root {
    --primary-font: 'Caudex', serif;
    --secondary-font: 'Caesar Dressing', sans-serif;
    --primary-color: #FAE7D6;
    --secondary-color: #2D1906;
    --card-color: #D6741A;
    --button-color: #2B73B6;
}

/* Global styles */

body {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
}

.btn {
    background-color: var(--button-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.card {
    background-color: var(--card-color);
    border: 8px solid var(--secondary-color);
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    text-transform: uppercase;
    min-height: 520px;
}

/* Body */

.card {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 100%;
    object-fit: fill;
    border-bottom: 3px solid var(--secondary-color);
    background: linear-gradient(90deg,rgba(84, 160, 214, 1) 0%, rgba(240, 230, 230, 1) 50%, rgba(53, 132, 222, 1) 100%);
    padding: 8px;
}


h1 {
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.8rem;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card li {
    font-size: 1.3rem;
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-top: 2px solid var(--secondary-color);

    transition: all 0.3s ease;
}

.card li span {
    font-weight: bold;
}

.card-title {
    font-size: 2.2rem;
    margin: 1rem 0;
    text-align: center;
}

/* to hide CPU attributes and image until after player has made a choice */
.hidden {
    display: none;
}

.player-card li:hover {
    cursor: pointer;
    background-color: rgba(45, 25, 6, 0.1);
    border-radius: 8px;
}


/* Highlight winning score */
li.win {
    background-color: rgba(0, 255, 0, 0.25);
    color: #0b3d0b;
    font-weight: bold;
    box-shadow: inset 0 0 0 2px #0b3d0b;
    border-radius: 6px;
}

li.lose {
    background-color: rgba(255, 0, 0, 0.25);
    color: #5a0b0b;
    font-weight: bold;
    box-shadow: inset 0 0 0 2px #5a0b0b;
    border-radius: 6px;
}

/* Button styles */

/* Modal styles */
.modal-content {
    border-radius: 14px;
    border: 3px solid var(--secondary-color);
    background-color: var(--primary-color);
}

.modal-title {
    font-family: var(--secondary-font);
    font-size: 1.8rem;
}

/* Media Queries */
@media (max-width: 576px) {
    header p {
        font-size: 1.2rem;
        line-height: 1.4;
        margin-bottom: 0.5rem;
    }

    h1 {
        font-size: 2.6rem;
    }
}